# Виртуальное окружение Python
venv/
env/
.venv/

# Файлы кэша и байткод Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Логи и временные файлы, создаваемые приложением
logs/
tmp/
*.log

# Система контроля версий
.git/
.gitignore

# Настройки IDE
.idea/
.vscode/
*.swp
*.swo

# Прочие файлы, которые не нужны внутри контейнера
.DS_Store
# ключи передаются при запуске контейнера
.env
# README.md не нужен внутри контейнера
README.md