annotated-types
anyio
certifi
charset-normalizer
distro
h11
httpcore
httpx
idna
iniconfig
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-core
langchain-openai
langchain-text-splitters
langsmith
MarkupSafe
numpy
openai
packaging
pandas
pluggy
pydantic
pydantic_core
Pygments
pytest
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-toolbelt
scikit-learn
scipy
six
sniffio
SQLAlchemy
tenacity
threadpoolctl
tiktoken
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
zstandard
